ion-content{
    --padding-start: 32px;
    --padding-end: 32px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-list {
	--ion-background-color: transparent !important;
    --ion-border-color: transparent !important;
    --ion-text-color: #FFFFFF;

    ion-icon{
        color: #FFFFFF !important;
        margin-inline-end: 16px;
    }
    
    ion-item{
        --padding-start: 0px;
        --padding-end: 0px;
        border-top: 1px solid #ffffff;
        font-size: 14px !important;
    }
    
    ion-item:last{
        border-bottom: 1px solid #ffffff !important;
    }
}



