<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay">
			<ion-content  contentId="main-content"  color="primary">
				<ion-row>
					<ion-col>
						<ion-img src="assets/nubank/nubank-01.png" class="img-responsive"></ion-img>
					</ion-col>
				</ion-row>
				<ion-list>
					<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
						<ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
							<ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
							<ion-label>{{ p.title }}</ion-label>
						</ion-item>
					</ion-menu-toggle>
				</ion-list>
				<ion-row>
					<ion-col>
						<ion-button color="light" expand="block" (click)="signOut()">
							<span>SAIR DO APP</span>
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>